.container h2 a{
    font-size: 14px;
    color: rgb(170, 74, 68);
    word-wrap: break-word;
}
.container h2 a:hover{
    color: chocolate;
}

.stuffContainer{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-right: 20px;
}
.card {
    flex: 1;
    height: 350px;
    border: 1px solid black;
    margin-left: 20px;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card iframe{
    width: 100% !important;
    height: 100% !important;
}
.card video{
    width: 100% !important;
    height: 100% !important;
}
@media screen and (max-width: 650px) {
    .stuffContainer{
        display: grid;
        grid-template-columns: auto;
    }
    .card{
        max-height: 250px;
        margin-bottom: 20px;
    }
    .container h2 a{
        width: 90vw;
        padding: 0 10px;
    }
}