.container{
    width: 100%;
    display: flex;
    justify-content: center;
}


.container iframe{
    width: 800px;
    height: 600px;
}
@media (max-width: 650px){
    .container iframe{
        width: 100% !important;
        height: 500px;
    }
    .iframeContainer{
        width: 100%;
    }
    .container{
        justify-content: unset;
        padding: 0 10px;
    }
}

